# makepkg / local build
/src/
/pkg/
/out/
/*.pkg.tar
/*.pkg.tar.zst
/*.pkg.tar.xz
/*.log
/*.log.gz
/.cache/
/.ccache/
/srcdest/
/build/

# kernel leftovers
/*.old
/*.orig
/*.rej
*~
*.swp

# downloaded sources
/linux-*.tar.xz
/linux-*.tar.sign
/linux-v*.patch
/linux-v*.patch.zst
/linux-v*.patch.zst.sig

# editor / OS
.DS_Store
.idea/
.vscode/
